@model LoginViewModel
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title text-center mb-4">Log in</h3>
                    <form asp-controller="Account" asp-action="Login" method="post" role="form">
                        <div class="form-group" asp-validation-summary="All">
                            <label asp-for="Email">Email address</label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group" asp-validation-summary="All">
                            <label asp-for="Password">Password </label>
                            <div class="input-group">
                                <input asp-for="Password" class="form-control" type="password" id="passwordField" />
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary custom-button" type="button" onclick="togglePasswordVisibility()">
                                        <i class="bi bi-eye-slash text-primary" id="eyeIcon"></i>
                                    </button>
                                </div>
                            </div>
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group form-check d-flex justify-content-between align-items-center" asp-validation-summary="All">
                            <div class="form-check">
                                <input asp-for="RememberMe" class="form-check-input">
                                <label asp-for="RememberMe" class="form-check-label">@Html.DisplayNameFor(m => m.RememberMe)</label>
                            </div>
                            <div>
                                <a class="btn btn-link text-success" asp-action="Register">Create an account</a>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-outline-success btn-animate">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .custom-button:hover {
        background-color: #0a003b;
    }
</style>

<script>
    function togglePasswordVisibility() {
        var passwordField = document.getElementById("passwordField");
        var eyeIcon = document.getElementById("eyeIcon");
        if (passwordField.type === "password") {
            passwordField.type = "text";
            eyeIcon.classList.remove("bi-eye-slash");
            eyeIcon.classList.add("bi-eye");
            eyeIcon.classList.remove("text-danger");
            eyeIcon.classList.add("text-primary");
        } else {
            passwordField.type = "password";
            eyeIcon.classList.remove("bi-eye");
            eyeIcon.classList.add("bi-eye-slash");
            eyeIcon.classList.remove("text-primary");
            eyeIcon.classList.add("text-danger");
        }
    }
</script>
